In [1]:
# Some path wizardry to make python acknowledge relative paths, just ignore this part...
import sys; sys.path.append('..')
import networkx as nx
import pandas as pd
from ipysigma import Sigma
from pelote import to_nodes_dataframe, to_bipartite_graph, monopartite_projection, to_edges_dataframe
from pelote.graph import drop_edges

In [2]:
df = pd.read_csv('./data/bipartite.csv')
df

      account  url  weight
0           0    0       1
1           1    0       7
2           2    0      38
3           3    0      23
4           4    0      27
...       ...  ...     ...
9350      347  793      25
9351      204  793      26
9352     1176  794      16
9353      308  795       7
9354      943  796      28

[9355 rows x 3 columns]

In [3]:
g = to_bipartite_graph(df, 'account', 'url')

In [4]:
m = monopartite_projection(g, 'account', metric='cosine')

In [5]:
to_edges_dataframe(m)['weight'].mean()

0.16131565215817462

In [12]:
drop_edges(m, lambda u, v, a: a['weight'] > 0.25)

In [13]:
to_edges_dataframe(m)

      source  target    weight
0          0     670  0.265165
1          2      91  0.261488
2          2      20  0.298142
3          2     130  0.284268
4          2     632  0.288675
...      ...     ...       ...
7789    1846    1905  0.447214
7790    1853    1905  0.447214
7791    1854    1855  0.447214
7792    1861    1891  0.353553
7793    1861    1905  0.353553

[7794 rows x 3 columns]

In [14]:
Sigma(m, node_size=m.degree)

Sigma(nx.Graph with 1,203 nodes and 7,794 edges)